@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', sans-serif;
}

#api-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.response {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    white-space: pre-wrap;
    font-size: 16px;
}

input, select, button {
    margin: 0 10px;
}

button {
    cursor: pointer;
}

.square {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.row {
    display: flex;

}

.zero {
    background-color: gray;
}

.one {
    background-color: orange
}

.path{
    background-color: yellowgreen;
}

.disarm {
    background-color: cyan;
}
.death{

    background-color: red
}